{layout '../@layout.latte'}
{define body}

    <h1 style="{$css[heading]|noescape}">Přijali jsme Vaši zprávu!</h1>

    <p>Dobrý den,</p>
    <p>potvrzujeme přijetí Vaší zprávy z kontaktního formuláře na webu Hurá tábory:</p>
    <p>{$message|noescape}</p>
{/define}
