{if $enabled}
    <a href="{plink click, url => $url}" target="_blank" class="{$classesA}"><img src="{$baseUri}{$image}" class="{$classesImg}" alt="{$url}"></a>
{/if}
{**
<a href="{plink click, url => $ad[url]}" target="_blank"><img src="{$baseUri}/www/ad.png" class="vcd-ad img-responsive hidden-xs pull-right" alt="{$ad[url]}"></a>
**}
