{if $enabled}
    <a href="{plink \VCD\UI\FrontModule\WebModule\ClickPresenter::LINK_DEFAULT, url => $url}" target="_blank" class="{$classesA}"><img src="{$baseUri}{$image}" class="{$classesImg}" alt="{$url}"></a>
{/if}
