<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Hurá tábory, z.s.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#393d72">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta http-equiv="refresh" content="1;url={$url}">
    <style type="text/css">
        body {
            font-family: Arial, serif;
        }
    </style>
</head>
<body>

<p>Probíhá přesměrování na hura-tabory.cz,</p>
<p>pokud se přesměrování neprovedlo, pokračujte prosím <a href="{$url}">tímto odkazem</a>.</p>

</body>
</html>
