.idea
.php_cs.cache
temp
!temp/.gitkeep
vendor
log
!log/.htaccess
design
node_modules
adminr.php
public/events
public/upload
!public/upload/.gitkeep
app/config/local
!app/config/local/factories/.gitkeep
deployment.ini
.htdeployment
deployment.log
public/css/*
public/js/*
!public/css/.gitkeep
!public/js/.gitkeep
