<table class="table table-condensed table-bordered">
    <tr>
        <th class="text-center"><a href="{plink game, id => NULL}" n:if="!$presenter->print" class="btn btn-primary btn-sm">Přidat</a></th>
        <th>Název</th>
        <th></th>
    </tr>
    <tr n:foreach="$list as $item">
        <td class="text-center">
            <a href="{plink game, id => $item[id]}" n:tag-if="!$presenter->print" class="btn btn-primary btn-sm"><strong>{$item[id]}</strong></a>
        </td>
        <td>
            <span class="pull-right">
                {if $item[visible]}<span class="glyphicon glyphicon-globe"></span>{else}<span class="glyphicon glyphicon-lock"></span>{/if}
            </span>
            <strong>{$item[name]}</strong>
        </td>
        <td>
            <span class="btn-group btn-group-sm">
                <a class="btn btn-sm btn-default" n:href="up!, id => $item[id]">Posunout výš</a>
                <a class="btn btn-sm btn-default" n:href="down!, id => $item[id]">Posunout níž</a>
            </span>
        </td>
    </tr>
</table>
