<table class="table">
    <tr>
        <th>
            <a href="{plink eventDiscount, id => NULL, event => $event}" class="btn btn-primary btn-sm">Přidat</a>
        </th>
        <th>Cena</th>
        <th>Cena VIP</th>
        <th>Sleva</th>
        <th>Platnost od</th>
        <th>Platnost do</th>
        <th>Přihlášky</th>
    </tr>
    {foreach $list as $item}
        <tr n:class="$eventEntity->currentDiscount !== null && $eventEntity->currentDiscount === $item ? bg-success, $eventEntity->currentPriceLevel === $item ? bg-info">
            <td>
                <a href="{plink eventDiscount, id => $item->id, event => $event}" class="btn btn-primary btn-sm">{$item->id}</a>
            </td>
            <td>{$item->price}&nbsp;Kč</td>
            <td>{$item->priceVip}&nbsp;Kč</td>
            <td><span n:class="glyphicon, $item->isDiscount ? glyphicon-ok : glyphicon-remove"></span></td>
            <td>{$item->starts|date:'j. n. Y H:i'}</td>
            <td>{$item->ends|date:'j. n. Y H:i'}</td>
            <td>
                <a href="{plink applications, filters => [event => $event, discount => $item->id, status => $statusAllExceptUnfinished]}">
                    <span data-toggle="tooltip" title="Dokončené">{$item->applications->get()->findBy(['appliedAt!=' => null])->count()}</span>
                    +
                    <span data-toggle="tooltip" title="Nedokončené">{$item->applications->get()->findBy(['appliedAt' => null])->count()}</span>
                </a>
            </td>
        </tr>
    {/foreach}
</table>

<p>Nápověda: zelené podbarvení = aktuálně použitá sleva, modré podbarvení = aktuálně použitá cena</p>
