<div class="row">
    <div class="col-sm-12 text-center">
        <a class="btn btn-success" href="{plink \VCD\UI\FrontModule\EventsModule\EventPresenter::LINK_DEFAULT, id => $event->load()[slug]}">Více informací</a>
    </div>
</div>