
<ul class="nav nav-tabs vcd-event-tabs">
    <li{ifCurrent ad, id => banner} class="active"{/ifCurrent}><a n:href="ad, id => banner">Vršek stránky</a></li>
    <li{ifCurrent ad, id => blog} class="active"{/ifCurrent}><a n:href="ad, id => blog">Boční panel v blogu</a></li>
</ul>
