<ul class="nav nav-tabs vcd-event-tabs">
    <li{ifCurrent blogArticles} class="active"{/ifCurrent}{ifCurrent blogArticle} class="active"{/ifCurrent}><a n:href="blogArticles">Články</a></li>
    <li{ifCurrent blogCategories} class="active"{/ifCurrent}{ifCurrent blogCategory} class="active"{/ifCurrent}><a n:href="blogCategories">Kategorie</a></li>
</ul>