
<ul class="nav nav-tabs vcd-event-tabs">
    <li{ifCurrent cronTasks} class="active"{/ifCurrent}><a n:href="cronTasks">Fronta úkolů</a></li>
    <li{ifCurrent cronLogs} class="active"{/ifCurrent}><a n:href="cronLogs">Historie</a></li>
</ul>