<ul class="nav nav-tabs vcd-event-tabs">
    <li{ifCurrent newsletter} class="active"{/ifCurrent}><a n:href="newsletter">E-maily</a></li>
    <li{ifCurrent newsletterBlacklist} class="active"{/ifCurrent}><a n:href="newsletterBlacklist">Blacklist</a></li>
    <li{ifCurrent newsletterAttendants} class="active"{/ifCurrent}><a n:href="newsletterAttendants">Účastníci akcí</a></li>
    <li{ifCurrent newsletterVip} class="active"{/ifCurrent}><a n:href="newsletterVip">Věrní členové</a></li>
</ul>
