<ul class="nav nav-tabs vcd-event-tabs">
    <li{ifCurrent invoices} class="active"{/ifCurrent}{ifCurrent invoice} class="active"{/ifCurrent}><a n:href="invoices">Faktury</a></li>
    <li{ifCurrent payments} class="active"{/ifCurrent}><a n:href="payments">Platby</a></li>
    <li{ifCurrent fioPayments} class="active"{/ifCurrent}><a n:href="fioPayments">Fio platby</a></li>

</ul>
