{layout './@layout.latte'}

{define body}

    <div class="row vcd-content">
        <div class="col-xs-12">

            {control acceptedChildren}

        </div>
    </div>

{/define}

{define head}{/define}
{define back}
    <li><a n:href="gotoApplications!, event => $event">Zpět na přihlášky</a></li>
{/define}