{layout './@layout.latte'}

{define body}

    <div class="row vcd-content">
        <div class="col-xs-12">

            {include './@blog.latte'}
            {include './@blogArticle.latte', article => $article}

            {control articlePages}

        </div>
    </div>

{/define}

{define head}{/define}
{define back}{/define}