{layout './@layout.latte'}

{define body}

    <div class="row vcd-content">
        <div class="col-xs-12">

            <div class="row">
                {control changelog}
            </div>

        </div>
    </div>

{/define}
{define head}{/define}
{define back}{/define}
