{layout './@layout.latte'}

{define body}

    <div class="row vcd-content">
        <div class="col-xs-12">
            {if $event !== NULL}
                {include './@eventConfig.latte', id => $event}
            {/if}
            {control eventDiscounts}
        </div>
    </div>

{/define}

{define head}{/define}
{define back}<li><a n:href="gotoEvents!">Zpět na seznam</a></li>{/define}