{layout './@layout.latte'}

{define body}

    <div class="row vcd-content">
        <div class="col-xs-12">

            {include './@payment.latte'}

            {control invoice}

        </div>
    </div>

{/define}

{define head}{/define}
{define back}<li><a n:href="invoices">Zpět na seznam</a></li>
{/define}