{layout './@layout.latte'}

{define body}


    <div class="row vcd-content">
        <div class="col-xs-12">

            {include './@eventConfig.latte', id => $id}
            {include './@letters.latte', id => $id}

            {control lettersRead}

        </div>
    </div>

{/define}

{define head}{/define}
{define back}<li><a n:href="gotoEvents!">Zpět na seznam</a></li>{/define}