{layout './@layout.latte'}

{define body}

    <div class="row vcd-content">
        <div class="col-xs-12">

            {control mobileAppPoints}

        </div>
    </div>

{/define}

{define head}{/define}
{define back}{/define}