{layout './@layout.latte'}

{define body}

    <div class="row vcd-content">
        <div class="col-xs-12">

            {include './@eventConfig.latte', id => $event}

            {control gallery}

        </div>
    </div>

{/define}

{define head}{/define}
{define back}<li><a n:href="events">Zpět na seznam</a></li>{/define}