{layout './@layout.latte'}

{define body}

    <div class="row vcd-content">
        <div class="col-xs-12">

            {control shortUrl}

        </div>
    </div>

{/define}

{define head}{/define}
{define back}<li><a n:href="shortUrls">Zpět na seznam</a></li>{/define}