{define body}
    <div class="container-fluid vcd-main-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    {control events}

                </div>
            </div>
        </div>
    </div>

{/define}

{define head}{/define}