<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>Testovací platební brána</title>
</head>
<body>

<h1>Platba přihlášky {$payment->application->id}</h1>

<h3>Zaplatit {$payment->amount} Kč?</h3>

{control form}

</body>
</html>