{define body}
    <div class="container-fluid vcd-main-background">
        <div class="container">
            <div class="row vcd-content">
                <div class="col-xs-12">

                    {control page}

                </div>
            </div>
        </div>
    </div>
{/define}

{define head}{/define}